name: PR check

on: [pull_request]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - uses: actions/checkout@v3
      - name: npm install
        run: npm install
      - name: run ESLint
        run: npm run lint
      - name: run tests
        run: npm run test